* {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 14px 0;
  }

  .container {
    width: 100%;
    min-width: 800px;
    min-height: 580px;
    height: 100%;
  }

  .toolbar-area {
    width: 120px;
    position: fixed;
    right: 20px;
    top: 13px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }



  /* remove redsquiggly */

  /* .monaco-editor .squiggly-error {
background: none !important;
} */

  .switch-control {
    width: 50px;
  }

  .new-tab-control {}


  .open-readme {}

  .new-tab-control:hover {
    opacity: 1;
  }

  .new-tab-icon {
    width: 22px;
  }

  .ant-switch {
    font-family: 'Monospace Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    min-width: 44px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition: all 0.36s;
    transition: all 0.36s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ant-switch-inner {
    color: #fff;
    font-size: 12px;
    margin-left: 24px;
    margin-right: 6px;
    display: block;
  }

  .ant-switch:before,
  .ant-switch:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    border-radius: 18px;
    background-color: #fff;
    content: ' ';
    cursor: pointer;
  }

  .ant-switch:after {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  }

  .ant-switch:active:before,
  .ant-switch:active:after {
    width: 24px;
  }

  .ant-switch:before {
    content: '\E64D';
    font-family: anticon;
    text-align: center;
    background: transparent;
    z-index: 1;
    display: none;
    font-size: 12px;
  }

  .ant-switch-loading:before {
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-switch-checked.ant-switch-loading:before {
    color: #1890ff;
  }

  .ant-switch:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    outline: 0;
  }

  .ant-switch:focus:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .ant-switch-checked {
    background-color: #1890ff;
  }

  .ant-switch-checked .ant-switch-inner {
    margin-left: 6px;
    margin-right: 24px;
  }

  .ant-switch-checked:before,
  .ant-switch-checked:after {
    left: 100%;
    margin-left: -19px;
  }

  .ant-switch-checked:active:before,
  .ant-switch-checked:active:after {
    margin-left: -25px;
  }