body {
  margin: 0;
}

ul,
li {
  list-style: none;
}

.options-container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

[data-theme="dark"] body {
  background: #141414;
  color: rgba(255, 255, 255, 0.85);
}

